.GubangPage {
    min-height: 90vh;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    text-align: center;
    width: 150vh;
    overflow: scroll;
}

.SubPage {
    margin:10px 300px;
    flex-direction: column;
    font-size: calc(5px + 1.5vmin);
    color: black;
    text-align: left;
}

.SubPage ul {
    width: 60%;
}

.PageDetail {
    flex-direction: column;
    font-size: calc(5px + 1.5vmin);
    color: black;
    text-align: left;
}

.Snapshot {
    font-size: calc(5px + 1vmin);
    color: gray;
    text-align: left;
}

.TokenBox {
    margin:10px 300px;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(5px + 1vmin);
    color: black;
    text-align: left;
}

.PageButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background: none;
    outline:none;
}

.BackButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background: none;
    border: none;
    outline:none;
    color: dodgerblue;
}